<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>AddBidServlet</servlet-name>
        <servlet-class>com.bios.controller.AddBidServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DropSectionServlet</servlet-name>
        <servlet-class>com.bios.controller.DropSectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClearingRound</servlet-name>
        <servlet-class>com.bios.controller.ClearingRound</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>com.bios.controller.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnzipServlet</servlet-name>
        <servlet-class>com.bios.controller.UnzipServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertEntriesServlet</servlet-name>
        <servlet-class>com.bios.controller.InsertEntriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectionManager</servlet-name>
        <servlet-class>com.bios.util.ConnectionManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.bios.controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dump</servlet-name>
        <servlet-class>com.bios.view.dump</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dumpBid</servlet-name>
        <servlet-class>com.bios.view.dumpBid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>start</servlet-name>
        <servlet-class>com.bios.view.start</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stop</servlet-name>
        <servlet-class>com.bios.view.stop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewAccountServlet</servlet-name>
        <servlet-class>com.bios.view.ViewAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCourseSection</servlet-name>
        <servlet-class>com.bios.view.ViewCourseSection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSection</servlet-name>
        <servlet-class>com.bios.view.ViewSection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dropBid</servlet-name>
        <servlet-class>com.bios.view.dropBid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.bios.controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBidServlet</servlet-name>
        <servlet-class>com.bios.view.ViewBidServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBidServlet</servlet-name>
        <servlet-class>com.bios.controller.UpdateBidServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTimetableServlet</servlet-name>
        <servlet-class>com.bios.view.ViewTimetableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DropSectionJsonServlet</servlet-name>
        <servlet-class>com.bios.controller.DropSectionJsonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dumpUser</servlet-name>
        <servlet-class>com.bios.view.dumpUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dumpSection</servlet-name>
        <servlet-class>com.bios.view.dumpSection</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UnzipServlet</servlet-name>
        <url-pattern>/unzip.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertEntriesServlet</servlet-name>
        <url-pattern>/insert.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectionManager</servlet-name>
        <url-pattern>/ConnectionManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewAccountServlet</servlet-name>
        <url-pattern>/viewAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCourseSection</servlet-name>
        <url-pattern>/viewCourseSection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSection</servlet-name>
        <url-pattern>/viewSection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBidServlet</servlet-name>
        <url-pattern>/viewBidServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBidServlet</servlet-name>
        <url-pattern>/updateBidServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClearingRound</servlet-name>
        <url-pattern>/ClearingRound</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTimetableServlet</servlet-name>
        <url-pattern>/viewTimetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DropSectionServlet</servlet-name>
        <url-pattern>/dropSectionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBidServlet</servlet-name>
        <url-pattern>/addBidServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DropBidServlet</servlet-name>
        <servlet-class>com.bios.controller.DropBidServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DropBidServlet</servlet-name>
        <url-pattern>/DropBidServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>JsonUpdateBids</servlet-name>
        <servlet-class>com.bios.view.JsonUpdateBids</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClearingRoundTwo</servlet-name>
        <servlet-class>com.bios.controller.ClearingRoundTwo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClearingRoundTwo</servlet-name>
        <url-pattern>/ClearingRoundTwo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dump</servlet-name>
        <url-pattern>/knngx/dump</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dumpBid</servlet-name>
        <url-pattern>/knngx/bid-dump</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dropBid</servlet-name>
        <url-pattern>/knngx/delete-bid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonUpdateBids</servlet-name>
        <url-pattern>/knngx/update-bid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DropSectionJsonServlet</servlet-name>
        <url-pattern>/knngx/drop-section</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stop</servlet-name>
        <url-pattern>/knngx/stop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>start</servlet-name>
        <url-pattern>/knngx/start</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/knngx/bootstrap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dumpUser</servlet-name>
        <url-pattern>/knngx/user-dump</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dumpSection</servlet-name>
        <url-pattern>/knngx/section-dump</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>CalculateRoundTwoResult</servlet-name>
        <servlet-class>com.bios.controller.CalculateRoundTwoResult</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CalculateRoundTwoResult</servlet-name>
        <url-pattern>/CalculateRoundTwoResult</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
